:root {
  --background-color: #fff5d4;
  --primary-color: #f0ac8b;
  --secondary-color: #b5d0c9;
  --text-accent-color: #272142;
  --accent-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color) !important;
}

h1,
h2,
h3 {
  font-family: var(--accent-font);
  font-weight: bold;
}

.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 100px 200px;
}

.hero h1 {
  font-size: 76px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-accent-color);
}

.hero h2 {
  font-family: var(--main-font);
  color: var(--text-accent-color);
  font-weight: lighter;
  font-size: 24px;
  line-height: 2;
}

.btn-brand {
  padding: 18px 30px !important;
  width: 200px;
  height: 63px;
  background: #f0ac8b !important;
  border-radius: 4px;
  color: var(--background-color) !important;
  font-size: 20px !important;
  line-height: 27px !important;
}

.photo-section p {
  color: var(--text-accent-color);
  font-size: 24px;
}

.content {
  padding: 100px 140px;
}

.content h1 {
  font-size: 40px;
  line-height: 1;
}

.content h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--main-font);
}

.content p {
  line-height: 2;
  color: var(--text-accent-color);
  opacity: 70%;
  font-size: 16px;
}

@media (max-width: 700px) {
  .hero {
    padding: 50px 10px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .photo-description {
    font-size: 15px !important;
  }
  .content {
    padding: 50px 10px;
  }
}

@media (max-width: 450px) {
  .btn-brand {
    padding: 9px 15px !important;
    width: 100px;
    height: 31px;
    font-size: 10px !important;
  }
}

.contact {
  margin-top: 30px;
  background-color: var(--secondary-color);
  opacity: 100%;
  border-radius: 4px;
  padding: 30px 40px;
}
.contact a {
  text-decoration: none;
  color: var(--text-accent-color);
}

.navbar-salm {
  background-color: var(--primary-color);
}

.coffee-icon {
  font-size: 30px;
  color: var(--background-color);
}

.active {
  color: var(--background-color) !important;
}
